@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;
  --color-primary-950: #422006;

  --color-bg: #fafaf9;
  --color-bg-dark: #111110;
  --color-text: #111110;
  --color-text-dark: #fafaf9;
  --color-muted: #78716c;
  --color-border: #e7e5e4;
  --color-border-dark: #292927;
}
