@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-background: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-2xl font-semibold p-2
}

h2 {
  @apply p-2 text-gray-400
}

main {
  @apply flex min-h-screen flex-col items-center justify-start p-24
}